/*.menu {
    .nav-0 { //ul
        .item-1 { //li
            margin-right : 15px;

            &:last-child {
                margin-right: 0px;
            }

            .link { // a
                &.active {
                }
            }

            .nav { //ul
                display : none;
                position : absolute;
                .item { //li
                    .link { //a
                    }
                }
            }
        }
        .item { //li
            &:hover {
                & > ul { //show subnav
                    display:block;
                }
            }
        }
    }
}*/
.menu {
    @extend .clearfix;
    //float : left;
    margin-top : 3px;
    .nav-0 {
        .item {
            &:hover {
                & > ul {
                    float : right;
                    display:inline;
                }
            }
        }
        .item-1 {
            float : left;
            //@extend .left;
            margin-right : 5px;

            &:last-child {
                margin-right: 0px;
            }

            .link {
                //font-size : 1.1em;
                &.active {
                    //color : $base_color + $font_color;
                }
            }

            .nav {
                display : none;
                position : absolute;
                //@extend .btn;
                .item {
                    .link {
                    }
                }
            }
            &:hover {
                & > ul {
                    display:block;
                }
            }
        }
    }
}

