/*.menu {
    .nav-0 { //ul
        .item-1 { //li
            margin-right : 15px;

            &:last-child {
                margin-right: 0px;
            }

            .link { // a
                &.active {
                }
            }

            .nav { //ul
                display : none;
                position : absolute;
                .item { //li
                    .link { //a
                    }
                }
            }
        }
        .item { //li
            &:hover {
                & > ul { //show subnav
                    display:block;
                }
            }
        }
    }
}*/
.menu {
  margin-top: 3px; }
  .menu .nav-0 .item:hover > ul {
    float: right;
    display: inline; }
  .menu .nav-0 .item-1 {
    float: left;
    margin-right: 5px; }
    .menu .nav-0 .item-1:last-child {
      margin-right: 0px; }
    .menu .nav-0 .item-1 .nav {
      display: none;
      position: absolute; }
    .menu .nav-0 .item-1:hover > ul {
      display: block; }

/*
SCSS3 (c) 2011 Motion Média
Inspired by http://css3please.com/
*/
.clearfix, .menu, .contentblocks.containeur, .contentblocks.containeur span.btn-add, .contentblocks.object {
  zoom: 1; }
  .clearfix:before, .menu:before, .contentblocks.containeur:before, .contentblocks.containeur span.btn-add:before, .contentblocks.object:before, .clearfix:after, .menu:after, .contentblocks.containeur:after, .contentblocks.containeur span.btn-add:after, .contentblocks.object:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }
  .clearfix:after, .menu:after, .contentblocks.containeur:after, .contentblocks.containeur span.btn-add:after, .contentblocks.object:after {
    clear: both; }

.reset-box {
  margin: 0;
  padding: 0; }

.right, .contentblocks.containeur span.btn-add, .contentblocks.object span.btn-del {
  float: right; }

.left {
  float: left; }

.link {
  cursor: pointer; }

.bordered, .glossy {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #656553; }

.glossy {
  background-color: #f2f2c7;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2c7', EndColorStr='#686852')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2c7', EndColorStr='#686852');
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2c7), to(#686852));
  background-image: -webkit-linear-gradient(top, #f2f2c7, #686852);
  background-image: -moz-linear-gradient(top, #f2f2c7, #686852);
  background-image: -ms-linear-gradient(top, #f2f2c7, #686852);
  background-image: -o-linear-gradient(top, #f2f2c7, #686852);
  background-image: linear-gradient(top bottom, #f2f2c7, #686852); }

.shadow {
  -webkit-box-shadow: 7px -4px 8px black;
  -moz-box-shadow: 7px -4px 8px black;
  box-shadow: 7px -4px 8px black; }

/*.btn {
    @extend .glossy;
    color: $font_color * 0.2 !important;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
    padding: 3px 8px;
    text-decoration: none;
    text-shadow: 1px 1px 1px $base_color * 0.5;
    a {
        color : $base_color * 0.2;
        @include transition(color);
        &:hover {
            color : $base_color * 0.6;
            text-shadow: 1px 1px 1px $base_color * 0.2;
        }
    }
}


.hbtn {
    @extend .btn;
    @extend .link;
    @include transition(color);
    &:hover {
        color: $font_color * 0.7 !important;
        text-shadow: 1px 1px 1px $base_color *0.5;
        @include background-gradient($base_color * 1.6, $base_color * 0.8 - #111);
    }
}
*/
.contentblocks.containeur {
  border: solid #A0f 1px;
  margin: 20px; }

.contentblocks.object {
  border: solid #0F0 1px;
  margin: 20px; }
  .contentblocks.object .contentblocks-blocks {
    border: solid #f00 1px;
    margin: 10px; }

.config {
  display: none; }
  .config * {
    display: none; }

.gblocks {
  padding: 5px; }
  .gblocks a.gblocks-file div.icon {
    padding: 6px 6px 10px 22px;
    background: url(../img/docicons/unknown.png) no-repeat 0 7px transparent; }
  .gblocks a.gblocks-file div.icon.aed {
    background-image: url(../img/docicons/aed.png); }
  .gblocks a.gblocks-file div.icon.ai {
    background-image: url(../img/docicons/ai.png); }
  .gblocks a.gblocks-file div.icon.aiff {
    background-image: url(../img/docicons/aiff.png); }
  .gblocks a.gblocks-file div.icon.asp {
    background-image: url(../img/docicons/asp.png); }
  .gblocks a.gblocks-file div.icon.avi {
    background-image: url(../img/docicons/avi.png); }
  .gblocks a.gblocks-file div.icon.flv {
    background-image: url(../img/docicons/flv.png); }
  .gblocks a.gblocks-file div.icon.html {
    background-image: url(../img/docicons/html.png); }
  .gblocks a.gblocks-file div.icon.indd {
    background-image: url(../img/docicons/indd.png); }
  .gblocks a.gblocks-file div.icon.js {
    background-image: url(../img/docicons/js.png); }
  .gblocks a.gblocks-file div.icon.mpeg {
    background-image: url(../img/docicons/mpeg.png); }
  .gblocks a.gblocks-file div.icon.pdf {
    background-image: url(../img/docicons/pdf.png); }
  .gblocks a.gblocks-file div.icon.php {
    background-image: url(../img/docicons/php.png); }
  .gblocks a.gblocks-file div.icon.png {
    background-image: url(../img/docicons/png.png); }
  .gblocks a.gblocks-file div.icon.ppj {
    background-image: url(../img/docicons/ppj.png); }
  .gblocks a.gblocks-file div.icon.psd {
    background-image: url(../img/docicons/psd.png); }
  .gblocks a.gblocks-file div.icon.svg {
    background-image: url(../img/docicons/svg.png); }
  .gblocks a.gblocks-file div.icon.swf {
    background-image: url(../img/docicons/swf.png); }
  .gblocks a.gblocks-file div.icon.txt {
    background-image: url(../img/docicons/txt.png); }
  .gblocks a.gblocks-file div.icon.wav {
    background-image: url(../img/docicons/wav.png); }
  .gblocks a.gblocks-file div.icon.mp3 {
    background-image: url(../img/docicons/mp3.png); }
  .gblocks a.gblocks-file div.icon.wma {
    background-image: url(../img/docicons/wma.png); }
  .gblocks a.gblocks-file div.icon.wmv {
    background-image: url(../img/docicons/wmv.png); }
  .gblocks a.gblocks-file div.icon.xml {
    background-image: url(../img/docicons/xml.png); }
  .gblocks a.gblocks-file div.icon.doc {
    background-image: url(../img/docicons/doc.png); }
  .gblocks a.gblocks-file div.icon.docx {
    background-image: url(../img/docicons/docx.png); }
  .gblocks a.gblocks-file div.icon.xls {
    background-image: url(../img/docicons/xls.png); }
  .gblocks a.gblocks-file div.icon.png {
    background-image: url(../img/docicons/png.png); }
  .gblocks a.gblocks-file div.icon.jpg {
    background-image: url(../img/docicons/jpg.png); }
  .gblocks a.gblocks-file div.icon.jpeg {
    background-image: url(../img/docicons/jpeg.png); }
  .gblocks a.gblocks-file div.icon.bmp {
    background-image: url(../img/docicons/bmp.png); }
  .gblocks a.gblocks-file div.icon.xbmp {
    background-image: url(../img/docicons/xbmp.png); }
  .gblocks a.gblocks-file div.icon.gif {
    background-image: url(../img/docicons/gif.png); }
  .gblocks a.gblocks-file div.icon.zip {
    background-image: url(../img/docicons/zip.png); }
  .gblocks a.gblocks-file div.icon.sit {
    background-image: url(../img/docicons/sit.png); }
  .gblocks a.gblocks-file div.icon.rar {
    background-image: url(../img/docicons/rar.png); }
  .gblocks a.gblocks-file div.icon.tar {
    background-image: url(../img/docicons/tar.png); }
  .gblocks a.gblocks-file div.icon.gz {
    background-image: url(../img/docicons/gz.png); }
  .gblocks a.gblocks-file div.icon.user {
    background-image: url(../img/docicons/user.png); }
