html body .menu {
  margin-top: 3px; }
  html body .menu .nav-0 .item:hover > ul {
    float: right;
    display: inline; }
  html body .menu .nav-0 .item-1 {
    float: left;
    margin-right: 5px; }
    html body .menu .nav-0 .item-1:last-child {
      margin-right: 0px; }
    html body .menu .nav-0 .item-1 .nav {
      display: none;
      position: absolute; }
    html body .menu .nav-0 .item-1:hover > ul {
      display: block; }
html body .footer {
  text-align: center;
  margin-top: 25px; }
  html body .footer p {
    font-size: 0.9em;
    color: #25261c; }
    html body .footer p a {
      color: #4b4d39; }
