{% extends "Kraggne/genericPage.html" %}
{% load flatblocks contentblocks %}

{% block page.body %}
{% containeur page.slug  %}

{% for object in page.get_containeurs %}
{% display object %}
{% endfor %}

<form action="{{action_url}}#form"  enctype="multipart/form-data" method="post" class="kraggne-form form-horizontal" id="form">
    {% csrf_token %}
    {% for field in form %}
    <div class="control-group">
        <label class="control-label">{{field.label}}</label>
        <div class="controls">
            {{field}}
            {% if field.errors %}
            <div class="alert alert-error">
                <button data-dismiss="alert" class="close" type="button">×</button>
                {{field.errors}}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

{% endblock %}

{% block project.scripts %}
<script src="{{ STATIC_URL }}Kraggne/multi-select/js/jquery.multi-select.js"></script>
<link href="{{ STATIC_URL}}Kraggne/multi-select/css/multi-select.css" rel="stylesheet" type="text/css" media="screen" />
<script>
    $("select[multiple]").multiSelect();

</script>
{% endblock %}
