{% load flatblocks %}

{% if user.is_authenticated and user.is_staff %}
<div class="contentblocks containeur {% if object.hextra_class %}{{object.hextra_class|escape}}{% endif %}{% if object.page %} admin-dragg {% endif %} admin-drop" id="{% if object.slug %}{{object.slug }}{% else %}{{object.pk}}{% endif %} ">
    <span class="btn btn-success btn-add">+</span>
    {% include "contentblocks/admin-config.inc.html" with module_name="pagecontaineur" %}
{% else %}
    <div class="contentblocks containeur {% if object.hextra_class %}{{object.hextra_class|escape}}{% endif %}" id="{% if object.slug %}{{object.slug }}{% else %}{{object.pk}}{% endif %}">
{% endif %}

    {% for object in object.object_list %}
    {% display object %}
    {% endfor %}

</div>
